$surface-1: hsl(340, 1%, 100%);
$surface-2: hsl(340, 2%, 100%);
$surface-3: #f8efee;
$surface-4: hsl(340, 4%, 100%);
$surface-5: hsl(340, 5%, 100%);

$accent-1: #832426;
$accent-2: #D68482;
$accent-3: #f2cc60;
$accent-4: #89beb7;
$accent-5: #a6b6ce;
$accent-6: #7b91b3;
$accent-7: #ecc3c2;
$accent-8: #d8b8b3;

$primary-accent: $accent-8;
$secondary-accent: $accent-4;

$foreground-color: darken($surface-5, 45%);

$highlight: #f8efee;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};
